language: python
python:
  - "2.7"
script: nosetests
env:
  - DJANGO_VERSION=1.4.5
  - DJANGO_VERSION=1.5.1
install:
  - pip install -q Django==$DJANGO_VERSION
  - python setup.py -q install
  - pip install -r requirements/install.pip --use-mirrors
  - pip install -r requirements/testing.pip --use-mirrors

script: django-admin.py test geo --settings=geo.test_settings
