include README.rst
include AUTHORS
include LICENSE
include MANIFEST.in
include setup.py
recursive-include geo *.py
recursive-include geo *.json
recursive-include geo *.html
recursive-include geo *.pip
include geo/management/commands/DATADIR/countryInfo.txt

